$black: #000000;
$white: #ffffff;

$dark-gray: #2f3542;
$primary: #2f3542;

$default-text-color: $dark-gray;
$primary-nav-bg: $primary;

// breakpoints
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
