@import './reset.css';
@import './variables';

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: $default-text-color;
}

h1 {
  font-size: 2.25rem;
}

.main-header {
  height: 50px;
  background: $primary-nav-bg;

  > * {
    color: $white;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 100%;
}

.center-container {
  text-align: center;
}

.button-margin {
  margin-top: 10px;
}

.locations-div {
  text-align: center;
  margin: 100px 20px 20px 20px;
  padding:10px 10px 10px 10px;
  border: 1px solid black;
  
}

.location-locationcard {
  color: black;
}

.location-row {
  color:black;
  display:inline-block;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  border: 1px solid black;
  background-color:whitesmoke;
}

.row .test-hover div:hover {
  background-color: lightgrey;
}

.fields-row {
  text-shadow:black;
  font-weight:bold;
  margin-bottom: 25px;
}

.weather-card {
  margin : 5px;
  border: 2px solid black;
}

.row-zero-padding {
  padding: 0px;
}

.weather-more-details {
  margin-top:70px;
}
